<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Librairie</title>
    <link rel="stylesheet" type="text/css" href="../static/submit.css">
    <script type="text/javascript" src="../static/submit.js"></script>
</head>
<body>
<p> Bienvenue sur la page d'inscription de notre Librairie</p>
<p>Nom:&emsp;<input maxlength="50" id="clientName" type="text"></p>
<p>Prenom :&emsp;<input maxlength="50" id="clientPrenom" type="text"></p>
<p>Email :&emsp;<input maxlength="50" id="clientMail" type="email"></p>
<p>Adresse :&emsp;<input maxlength="200" id="clientAdresse" type="text"></p>
<p>Telephone :&emsp; <input maxlength="11" id="clientTelephone" type="text"></p>
<p>Mot de passe : &emsp;<input maxlength="50" id="clientMdp" type="password"></p>
<p>Verifiez votre mot de passe : &emsp; <input maxlength="50" id="clientMdpCheck" type="password"></p>
</body>
</html>