<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='submit.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<div class="register">
    <h1>Register</h1>
    <form action="{{ url_for('register') }}" method="post">
        <label for=name">
            <p5>Nom : </p5>
        </label>
        <input type="text" name="name"  required>

        <label for="second_name">
            <p5>Prenom : </p5>
        </label>
        <input type="text" name="second_name"  required>

        <label for=username">
            <p5>Identifiant : </p5>
        </label>
        <input type="text" name="username"  required>

        <label for="email">
            <p5>Email : </p5>
        </label>
        <input type="text" name="email"  required>

        <label for="address">
            <p5>Adresse : </p5>
        </label>
        <input type="text" name="address" required>

        <label for="phone">
            <p5>Tel : </p5>
        </label>
        <input type="text" name="phone" required>

        <label for="password">
            <p5>Mot de passe : </p5>
        </label>
        <input type="password" name="password"  required>

        <label for="confirm_password">
            <p5>Confirmer mot de passe : </p5>
        </label>
        <input type="password" name="confirm_password" required>

        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Register">
        <div class="links">
            <a href="{{ url_for('login') }}" class="passive">Login to your account</a>
        </div>
    </form>
</div>
</body>
</html>