<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Librairie</title>
    <link rel="stylesheet" type="text/css" href="../static/submit.css">
    <script type="text/javascript" src="../static/submit.js"></script>
</head>
<body>
<p> Bienvenue sur la page d'inscription de notre Librairie</p>

<form method="post" class="myForm">
    <label for="clientNom">Name :</label>
    <input maxlength="50" id="clientNom" name="clientNom" type="text" required><br>
    <label for="clientPrenom">Prenom :</label>
    <input maxlength="50" name="clientPrenom" id="clientPrenom" type="text"><br>
    <label for="clientMail">Email</label>
    <input maxlength="50" id="clientMail" name = "clientMail" type="email" required><br>
    <label for="clientAdresse">Adresse</label>
    <input maxlength="200" id="clientAdresse" type="text" required><br>
    <label for="clientTelephone">Telephone</label>
    <input maxlength="11" id="clientTelephone" name= "clientTelephone" type="text"><br>
    <label for="clientMdp">Mot de passe</label>
    <input maxlength="50" id="clientMdp" name="clientMdp" type="password"><br>
    <label for="clientMdpCheck">Verifiez votre mot de passe :</label>
    <input maxlength="50" id="clientMdpCheck" type="password"><br>
    <input type="submit" value="Soumettre" onclick="submit_check()">
    <input type="reset" value="recommencer">

   
</form>


</body>
</html>