{% extends 'base.html' %} {% block body %}
<div class="container">
    <div class="flex-between" style="margin-bottom: 16px">
        <h2>Items available</h2>
        <form class="d-flex" action="" method="GET">
            <input class="form-control" type="search" placeholder="Search by name" name="search" value="" />
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        <div class="me-4">
            <select type="select" class="form-control">
        <option value="" selected>Filter by type</option>
        <option value="history">History</option>
        <option value="romance">Romance</option>
        <option value="thriller">Thriller</option>
      </select>
        </div>
        <div class="me-4">
            <select type="select" class="form-control">
        <option selected value="6">Results per page</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="0">All</option>
      </select>
        </div>
    </div>
    <div class="container items" id="scroller">
        <template id="items-template">
      <div class="card">
        <h5 class="card-header" id="title"></h5>
        <div class="card-body">
          <h5>
            <span class="card-title" id="autor"></span>
          </h5>
          <div>
            <span class="price-tag">30 $</span>
          </div>
          <p class="card-text" id="description"></p>
          <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </template>
    </div>
    <div class="d-flex justify-content-center mb-3" id="sentinel">
        <div class="spinner-border" role="status"></div>
    </div>
</div>

<script>
    let scroller = document.getElementById("scroller");
    let template = document.getElementById("items-template");
    let sentinel = document.getElementById("sentinel");

    let counter = 0;

    function loadBooks() {
        fetch(`/loads/books?c=${counter}`).then((response) => {
            response.json().then((data) => {
                if (!data.length) {
                    sentinel.innerHTML = "No more articles";
                }

                for (var i = 0; i < data.length; i++) {
                    let template_clone = template.content.cloneNode(true);
                    template_clone.getElementById("title").innerHTML = data[i][1];
                    template_clone.getElementById("autor").innerHTML = data[i][3];
                    template_clone.getElementById("description").innerHTML = data[i][8];
                    scroller.appendChild(template_clone);
                    counter += 1;
                }
            });
        });
    }

    var intersectionObserver = new IntersectionObserver((entries) => {
        if (entries[0].intersectionRatio <= 0) {
            return;
        }
        loadBooks();
    });
    intersectionObserver.observe(sentinel);
</script>

{% endblock %}