{% extends 'base.html' %} {% block body %}
<div class="spacer"></div>
<div class="p-5 mb-4 bg-light rounded-3" style="background-image: url()">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Bookstore!</h1>
        <p class="col-md-8 fs-4">Find your next story!</p>
        {% if not loggedin %}
        <a class="btn btn-primary btn-lg text-white" type="button" href="/login">Log in</a
    >
    <h3
      class="btn btn-primary btn-lg text-white"
      type="button"
      href="/submit"
    >
      Sign up
    </h3>
    {% else%}
    <a class="btn btn-primary btn-lg text-white" type="button" href="/articles"
      >Start shopping</a
    >
    {% endif %}
  </div>
</div>
{% endblock %}

<style></style>