{% extends 'base.html' %} {% block body %}
<div class="spacer"></div>
<div class="p-5 mb-4 bg-light rounded-3" style="background-image: url()">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Bookstore!</h1>
        <p class="col-md-8 fs-4">Find your next story!</p>
        <a class="btn btn-primary btn-lg text-white" type="button">Log in</a>
        <a class="btn btn-primary btn-lg text-white" type="button">Sign up</a>
    </div>
</div>
{% endblock %}

<style></style>